<!DOCTYPE html>
<html lang="cn">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>融资租赁业务操作系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    @RenderSection("styles", false);
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="page-header" style="">
        <div class="page-header-top">
            <div class="container" style="margin-left: 0%; width: 95%">
                <img style="float: left;" src="~/Images/logo2.png" />
                <div class="top-menu" style="width: 50%">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle">
                                <span class="username username-hide-mobile" id="CompanyName"></span>
                                <span class="username username-hide-mobile" id="">&nbsp;&nbsp;</span>
                                <span class="username username-hide-mobile" id="user_Name">admin</span>
                            </a>
                        </li>
                        <li class="dropdown dropdown-extended quick-sidebar-toggler" id="LoginOut">
                            <img src="~/Images/iconexit.png" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-header-menu">
            <div class="container" style="margin-left: 50px; width: 95%;">
                <div class="hor-menu" style="margin-left: -50px;">
                    <ul class="nav navbar-nav" id="ul-modules" style="max-height: 50px !important;">
                        <li id="project-management" style="display: none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-project-management')">
                                <img src="~/Images/IndexIcon/项目管理.png" /> 项目管理
                            </a>
                        </li>
                        <li id="contract-management" style="display: none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-contract-management')">
                                <img src="~/Images/IndexIcon/合同管理.png" />  合同管理
                            </a>
                        </li>
                        <li id="credit-management" style="display: none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-credit-management')">
                                <img src="~/Images/IndexIcon/资金管理.png" /> 资金管理
                            </a>
                        </li>

                        <li id="after-rent-management" style="display:none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-after-rent-management')">
                                <img src="~/Images/IndexIcon/融资管理.png" /> 租后管理
                            </a>
                        </li>

                        <li id="project-design" style="display: none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-project-design')">
                                <img src="~/Images/IndexIcon/方案设计.png" />  方案设计
                            </a>
                        </li>
                        <li id="system-settings" style="display: none;">
                            <a href="javascript:void(0);" onclick="show_child_menus('#div-system-settings')">
                                <img src="~/Images/IndexIcon/系统设置.png" />  系统设置
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <div class="sidebar" id="sidebar">
                <!--项目管理下的子菜单-->
                <div style="display: none;" id="div-project-management">
                    <ul class="nav nav-list">
                        <li id="menu-personal-customer">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/商机管理/个人客户.png" />
                                <span class="menu-text">个人客户</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-personal-customer">
                                    <a href="@Url.Action("New", "PersonalCustomer", new {area = "CustManage"})">
                                        <span class="menu-text">新建个人客户</span>
                                    </a>
                                </li>
                                <li id="menu-edit-personal-customers">
                                    <a href="@Url.Action("Index", "PersonalCustomer", new {area = "CustManage"})">
                                        <span class="menu-text">维护个人客户</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-company-customer">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/商机管理/个人客户.png" />
                                <span class="menu-text">公司客户</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-company-customer">
                                    <a href="@Url.Action("New", "CompanyCustomer", new {area = "CustManage"})">
                                        <span class="menu-text">新建公司客户</span>
                                    </a>
                                </li>
                                <li id="menu-edit-company-customers">
                                    <a href="@Url.Action("Index", "CompanyCustomer", new {area = "CustManage"})">
                                        <span class="menu-text">维护公司客户</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-view-projects">
                            <a href="@Url.Action("Info", "Project", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/项目查询.png" />
                                <span class="menu-text">项目查询</span>
                            </a>
                        </li>
                        <li id="menu-setup-project">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/项目管理/项目立项.png" />
                                <span class="menu-text">项目立项</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-setup-project-rzzl">
                                    <a href="@Url.Action("Index", "Project", new {area = "ProjManage"})">
                                        <span class="menu-text">融资租赁</span>
                                    </a>
                                </li>
                                <li id="menu-setup-project-cdd">
                                    <a href="@Url.Action("IndexCdd", "Project", new {area = "ProjManage"})">
                                        <span class="menu-text">车抵贷&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-clone-project">
                            <a href="@Url.Action("Clone", "Project", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/项目立项.png" />
                                <span class="menu-text">克隆项目</span>
                            </a>
                        </li>
                        <li id="data-assessment">
                            <a href="@Url.Action("Assessment", "Project", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/资信评估.png" />
                                <span class="menu-text">资信评估</span>
                            </a>
                        </li>
                        <li id="menu-receive-project-step">
                            <a href="@Url.Action("Receive", "ProjectStep", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/项目审批.png" />
                                <span class="menu-text">审批认领</span>
                            </a>
                        </li>
                        <li id="menu-my-project-steps">
                            <a href="@Url.Action("Index", "ProjectStep", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/项目审批.png" />
                                <span class="menu-text">我的审批</span>
                            </a>
                        </li>
                        <li id="menu-project-steps">
                            <a href="@Url.Action("ProjectStep", "Project", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/资信评估.png" />
                                <span class="menu-text">审批过程</span>
                            </a>
                        </li>
                        <li id="sign-contract">
                            <a href="@Url.Action("SignContract", "Project", new {area = "ProjManage"})">
                                <img src="~/Images/项目管理/合同签约.png" />
                                <span class="menu-text">合同签约</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--合同管理下的子菜单-->
                <div style="display: none;" id="div-contract-management">
                    <ul class="nav nav-list">
                        <li id="menu-view-contracts">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/合同管理/合同详情.png" />
                                <span class="menu-text">合同详情</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-contract-info">
                                    <a href="@Url.Action("Info", "Contract", new {area = "ConManage"})">
                                        <i class="glyphicon glyphicon-file"></i>
                                        <span class="menu-text">合同查询</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-edit-contracts">
                            <a href="@Url.Action("Index", "Contract", new {area = "ConManage"})">
                                <img src="~/Images/合同管理/合同维护.png" />
                                <span class="menu-text">合同维护</span>
                            </a>
                        </li>
                        <li id="menu-submit-contract">
                            <a href="@Url.Action("Submit", "Contract", new {area = "ConManage"})">
                                <img src="~/Images/合同管理/合同维护.png" />
                                <span class="menu-text">合同提交</span>
                            </a>
                        </li>
                        <li id="menu-aduit-contract">
                            <a href="@Url.Action("Index", "ContractStep", new {area = "ConManage"})">
                                <img src="~/Images/合同管理/合同维护.png" />
                                <span class="menu-text">合同审批</span>
                            </a>
                        </li>
                        <li id="menu-costs-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/合同管理/费用管理.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">费用管理</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-cost">
                                    <a href="@Url.Action("Costmanagement", "Business", new {menuId = "new-cost", menuName = "费用创建", area = ""})">
                                        <i class="glyphicon glyphicon-file"></i>
                                        <span class="menu-text">费用创建</span>
                                    </a>
                                </li>
                                <li id="menu-view-costs">
                                    <a href="@Url.Action("Costmanagement", "Business", new {menuId = "view-costs", menuName = "费用查询", area = ""})">
                                        <i class="glyphicon glyphicon-file"></i>
                                        <span class="menu-text">费用查询</span>
                                    </a>
                                </li>
                                <li id="menu-cost-repay">
                                    <a href="@Url.Action("Costmanagement", "Business", new {menuId = "cost-repay", menuName = "费用收款", area = ""})">
                                        <i class="glyphicon glyphicon-file"></i>
                                        <span class="menu-text">费用收款</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-debt-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/合同管理/催收管理.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">催收管理</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-debt-plans">
                                    <a href="@Url.Action("DebtCollectionSelect", "MoneyManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">催收计划</span>
                                    </a>
                                </li>
                                <li id="menu-debt-collection">
                                    <a href="@Url.Action("DebtCollection", "MoneyManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">租金催收</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-query-attachment">
                            <a href="@Url.Action("QueryAttachments", "ContractManagement", new {area = ""})">
                                <img src="~/Images/合同管理/合同维护.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">档案查询</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--资金管理下的子菜单-->
                <div style="display: none;" id="div-credit-management">
                    <ul class="nav nav-list">
                        <li id="menu-loan-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/资金管理/投放管理.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">投放管理</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-amount-plans">
                                    <a href="@Url.Action("LoanSchedule", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-file"></i>
                                        <span class="menu-text">资金计划</span>
                                    </a>
                                </li>
                                <li id="menu-amount-put-in">
                                    <a href="@Url.Action("LoanInfo", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">投放管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="repayment-ConfRepayment">
                            <a href="@Url.Action("ConfRepayment", "Business", new {area = ""})">
                                <img src="~/Images/资金管理/租金计划.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">租金计划</span>
                            </a>
                        </li>
                        <li id="repayment-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/资金管理/费用管理.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">租金核销</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-repayment-plans">
                                    <a href="@Url.Action("RepaymentSelect", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">核销计划</span>
                                    </a>
                                </li>
                                <li id="menu-repay-amount">
                                    <a href="@Url.Action("RepaymentInfo", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">租金核销</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="repayment-batch">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/资金管理/批量核销.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">批量核销</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-batch-repayment-plans">
                                    <a href="@Url.Action("RepaymentBatchSelect", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">核销计划</span>
                                    </a>
                                </li>
                                <li id="menu-batch-repay">
                                    <a href="@Url.Action("RepaymentBatch", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">批量核销</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-repayment-csv">
                            <a href="@Url.Action("RepaymentCsv", "Business", new {area = ""})">
                                <img src="~/Images/资金管理/租金红冲.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">CSV核销</span>
                            </a>
                        </li>
                        <li id="menu-amount-red-push">
                            <a href="@Url.Action("Repayment_RCW", "Business", new {area = ""})">
                                <img src="~/Images/资金管理/租金红冲.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">租金红冲</span>
                            </a>
                        </li>
                        <li id="menu-penalty-interest-relief">
                            <a href="@Url.Action("PenaltyRelief", "Business", new {area = ""})">
                                <img src="~/Images/资金管理/罚息减免.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">滞纳金减免</span>
                            </a>
                        </li>
                        <li id="menu-settle-repayments">
                            <a href="@Url.Action("Settle", "Repayment", new {area = "MonManage"})">
                                <img src="~/Images/资金管理/租金红冲.png" />
                                <span class="menu-text">提前结清</span>
                            </a>
                        </li>
                        <li id="repayment-HistoryRepay">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/资金管理/还款历史.png" />
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="menu-text">还款历史</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-repayment-history">
                                    <a href="@Url.Action("HistoryRepay", "Business", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">还款历史</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--融资管理下的子菜单-->
                <div style="display: none;" id="div-loan-management">
                    <ul class="nav nav-list">
                        <li id="LoanCustomer">
                            <a href="@Url.Action("LoanCustomer", "Loan", new {area = ""})">
                                <img src="~/Images/融资管理/借款客户.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">借款客户</span>
                            </a>
                        </li>
                        <li id="LoanContCract">
                            <a href="@Url.Action("LoanContCract", "Loan", new {area = ""})">
                                <img src="~/Images/融资管理/借款合同.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">借款合同</span>
                            </a>
                        </li>
                        <li id="PrinInt_Ver">
                            <a href="@Url.Action("PrinInt_Ver", "Loan", new {area = ""})">
                                <img src="~/Images/融资管理/本息核销.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">本息核销</span>
                            </a>
                        </li>
                        <li id="PrinInt_RCW">
                            <a href="@Url.Action("PrinInt_RCW", "Loan", new {area = ""})">
                                <img src="~/Images/融资管理/本息红冲.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">本息红冲</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--租后管理下的子菜单-->
                <div style="display: none;" id="div-after-rent-management">
                    <ul class="nav nav-list">
                        <li id="menu-contract-change-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/合同变更.png" />
                                <span class="menu-text">合同变更</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-contract-change">
                                    <a href="@Url.Action("Change", "Contract", new {area = "ConManage"})">
                                        <span class="menu-text">合同变更</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-contract-renewal-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/合同变更.png" />
                                <span class="menu-text">合同展期</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-start-contract-renewal">
                                    <a href="@Url.Action("Index", "ContractRenewal", new {area = "ConManage"})">
                                        <span class="menu-text">合同展期操作</span>
                                    </a>
                                </li>
                                <li id="menu-receive-renewal-step">
                                    <a href="@Url.Action("Receive", "ContractRenewalStep", new {area = "ConManage"})">
                                        <span class="menu-text">展期审核认领</span>
                                    </a>
                                </li>
                                <li id="menu-check-renewal-step">
                                    <a href="@Url.Action("Index", "ContractRenewalStep", new {area = "ConManage"})">
                                        <span class="menu-text">合同展期审核</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-amount-change-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/租金变更.png" />
                                <span class="menu-text">租金变更</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-amount-change">
                                    <a href="@Url.Action("AmountChange", "AfterRent", new {area = ""})">
                                        <span class="menu-text">租金变更</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-early-buyout">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/提前买断.png" />
                                <span class="menu-text">提前买断</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-buyout-quote">
                                    <a href="@Url.Action("NewBuyoutQuote", "ContractManagement", new {area = ""})">
                                        <span class="menu-text">新建报价</span>
                                    </a>
                                </li>
                                <li id="menu-buyout-search">
                                    <a href="@Url.Action("SearchBuyoutQuotes", "ContractManagement", new {area = ""})">
                                        <span class="menu-text">查询报价</span>
                                    </a>
                                </li>
                                <li id="menu-manage-buyout-quote">
                                    <a href="@Url.Action("ManageBuyoutQuote", "ContractManagement", new {area = ""})">
                                        <span class="menu-text">维护报价</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-handle-profit-and-loss">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/处置损益.png" />
                                <span class="menu-text">处置损益</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-handle-management">
                                    <a href="@Url.Action("Index", "ContractDisposal", new {area = ""})">
                                        <span class="menu-text">处置维护</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-check-after-rent">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/租后检查.png" />
                                <span class="menu-text">租后检查</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-check-contract">
                                    <a href="@Url.Action("Check", "ContractManagement", new {area = ""})">
                                        <span class="menu-text">租后巡视</span>
                                    </a>
                                </li>
                                <li id="menu-auto-five-level-sort">
                                    <a href="@Url.Action("ClassifyBysystem", "ContractRiskClassify", new {area = ""})">
                                        <span class="menu-text">自动五级分类</span>
                                    </a>
                                </li>
                                <li id="menu-human-five-level-sort">
                                    <a href="@Url.Action("ClassifyByUser", "ContractRiskClassify", new {area = ""})">
                                        <span class="menu-text">人工五级分类</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-risk-warning-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/租后管理/风险预警.png" />
                                <span class="menu-text">风险预警</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-risk-warning">
                                    <a href="@Url.Action("RiskWarning", "ContractRiskClassify", new {area = ""})">
                                        <span class="menu-text">风险预警</span>
                                    </a>
                                </li>
                                <li id="menu-cancel-warning">
                                    <a href="@Url.Action("LiftWarining", "ContractRiskClassify", new {area = ""})">
                                        <span class="menu-text">预警解除</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-corrective-maintenance">
                            <a href="http://121.40.61.61:8725/Order/CheckLogin2?Login_Name=test&pwd=123456">
                                <img src="~/Images/租后管理/风险预警.png" />
                                <span class="menu-text">维修保养</span>
                            </a>
                        </li>
                        <li id="menu-vehicle-repayment">
                            <a href="@Url.Action("VehicleRepayment", "AfterRent", new {area = ""})">
                                <img src="~/Images/租后管理/风险预警.png" />
                                <span class="menu-text">车辆还款分析</span>
                            </a>
                        </li>
                        <li id="menu-insurance-analysis">
                            <a href="@Url.Action("InsuranceAnalysis", "AfterRent", new {area = ""})">
                                <img src="~/Images/租后管理/风险预警.png" />
                                <span class="menu-text">保险分析</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--方案设计下面的子菜单-->
                <div style="display: none;" id="div-project-design">
                    <ul class="nav nav-list">
                        <li id="calc-tools">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/方案设计/租金试算模型.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">租金试算模型</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="MD_BenXi_principal">
                                    <a href="@Url.Action("MD_BenXiPrincipal", "Calculator", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">米袋等额本息</span>
                                    </a>
                                </li>
                                <li id="MD_XianXiHouBenPrincipal">
                                    <a href="@Url.Action("MD_XianXiHouBenPrincipal", "Calculator", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">米袋先息后本</span>
                                    </a>
                                </li>
                                <li id="MD_XianXiHouBenPrincipal_Cdd">
                                    <a href="@Url.Action("MD_XianXiHouBenPrincipal_Cdd", "Calculator", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">米袋先息后本（车抵贷）</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--报表管理下的子菜单-->
                <div style="display: none;" id="div-report-management">
                    <ul class="nav nav-list">
                        <li id="menu-basic-info-report">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/报表管理/基础信息.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">基础信息</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-customer-infos">
                                    <a href="@Url.Action("CustomerReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">客户信息表</span>
                                    </a>
                                </li>
                                <li id="menu-project-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">项目信息表</span>
                                    </a>
                                </li>
                                <li id="menu-contract-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">合同信息表</span>
                                    </a>
                                </li>
                                <li id="menu-contract-business-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">合同商务表</span>
                                    </a>
                                </li>
                                <li id="menu-contract-guarantee-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">合同担保表</span>
                                    </a>
                                </li>
                                <li id="menu-equipment-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">租赁物件表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-project-reports">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/报表管理/项目相关.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">项目相关</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-project-apply-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">项目申请明细</span>
                                    </a>
                                </li>
                                <li id="menu-project-count-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">项目统计表</span>
                                    </a>
                                </li>
                                <li id="menu-project-check-cycles">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">项目审批周期</span>
                                    </a>
                                </li>
                                <li id="menu-project-check-infos">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">项目评分明细</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-amount-reports">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/报表管理/资金相关.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">资金相关</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-amount-plans">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">资金计划表</span>
                                    </a>
                                </li>
                                <li id="loan-detail-report">
                                    <a href="@Url.Action("LoanDetailReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">放款明细表</span>
                                    </a>
                                </li>
                                <li id="menu-contract-repayment-details">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">合同应收帐龄明细表</span>
                                    </a>
                                </li>
                                <li id="menu-contract-repayment-count-details">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">合同应收帐龄统计表</span>
                                    </a>
                                </li>
                                <li id="repayment-plans-report">
                                    <a href="@Url.Action("RepaymentPlanReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">租金计划表</span>
                                    </a>
                                </li>
                                <li id="repayment-actions-report">
                                    <a href="@Url.Action("RepaymentActionReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">历史对帐表</span>
                                    </a>
                                </li>
                                <li id="repayment-details-report">
                                    <a href="@Url.Action("RepaymentDetailReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">应收明细表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-equipment-reports">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/报表管理/资产组合.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">资产组合</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="overduo-report">
                                    <a href="@Url.Action("OverduoReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">分级逾期表</span>
                                    </a>
                                </li>
                                <li id="menu-overduo-fine-reports">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">逾期滞纳金报表</span>
                                    </a>
                                </li>
                                <li id="menu-message-dunning-reports">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">短信催款报表</span>
                                    </a>
                                </li>
                                <li id="overdue-repayment-detail-report">
                                    <a href="@Url.Action("OverdueRepaymentDetailReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">逾期账龄表</span>
                                    </a>
                                </li>
                                <li id="contracts-report">
                                    <a href="@Url.Action("ContractDetailReport", "ReportManagement", new {area = ""})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="menu-text">合同明细</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-kpi-reports">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/报表管理/关键绩效.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">关键绩效</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-business-reports">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">新业务量表</span>
                                    </a>
                                </li>
                                <li id="menu-project-check-cycles">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">审批周期表</span>
                                    </a>
                                </li>
                                <li id="menu-check-pass-rates">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">审批通过率</span>
                                    </a>
                                </li>
                                <li id="menu-equipment-focus-rates">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">资产组合集中度</span>
                                    </a>
                                </li>
                                <li id="menu-overduo-rates">
                                    <a href="javascript:void(0);">
                                        <i class="glyphicon glyphicon-yen"></i>
                                        <span class="menu-text">逾期率</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="Jixiao">
                            <a href="@Url.Action("Jixiao", "ReportManagement", new {area = ""})">
                                <img src="~/Images/报表管理/产品方案设计.png" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">绩效管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--评估模型下面的子菜单-->
                <div style="display: none;" id="div-model-management">
                    <ul class="nav nav-list">
                        <li id="customer-management">
                            <a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="menu-text">医疗模板</span>
                            </a>
                        </li>
                        <li id="find-business-opportunity">
                            <a href="" class="dropdown-toggle">
                                <i class="glyphicon glyphicon-send"></i>
                                <span class="menu-text">印刷模板</span>
                            </a>
                        </li>
                        <li id="assess-business-opportunity">
                            <a href="" class="dropdown-toggle">
                                <i class="glyphicon glyphicon-earphone"></i>
                                <span class="menu-text">工业装备模板</span>
                            </a>
                        </li>
                        <li id="business-opportunity-to-project">
                            <a href="" class="dropdown-toggle">
                                <i class="glyphicon glyphicon-paperclip"></i>
                                <span class="menu-text">教育模板</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--系统设置下的子菜单-->
                <div style="display: none;" id="div-system-settings">
                    <ul class="nav nav-list">
                        <li id="menu-institutional-framework">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/员工管理.png" />
                                <span class="menu-text">员工管理</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-user-management">
                                    <a href="@Url.Action("Index", "Employee", new {area = ""})">
                                        <span class="menu-text">员工管理</span>
                                    </a>
                                </li>
                                <li id="department-management">
                                    <a href="@Url.Action("Department", "BasicData", new {area = ""})">
                                        <span class="menu-text">部门管理</span>
                                    </a>
                                </li>
                                <li id="job-management">
                                    <a href="@Url.Action("Position", "BasicData", new {area = ""})">
                                        <span class="menu-text">岗位管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-right-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/权限管理.png" />
                                <span class="menu-text">权限管理</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-role-management">
                                    <a href="@Url.Action("Role", "BasicData", new {area = ""})">
                                        <span class="menu-text">角色管理</span>
                                    </a>
                                </li>
                                <li id="rights-management">
                                    <a href="@Url.Action("Empower", "Home", new {area = ""})">
                                        <span class="menu-text">用户授权</span>
                                    </a>
                                </li>
                                <li id="menu-edit-password">
                                    <a href="@Url.Action("UpdatePwd", "Home", new {area = ""})">
                                        <span class="menu-text">修改密码</span>
                                    </a>
                                </li>
                                <li id="menu-manage-functions">
                                    <a href="@Url.Action("ManageFunctions", "Home", new {area = ""})">
                                        <span class="menu-text">通用功能</span>
                                    </a>
                                </li>
                                <li id="manage-menu-functions">
                                    <a href="@Url.Action("ManageMenuFunctions", "Home", new {area = ""})">
                                        <span class="menu-text">菜单功能</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-supplier-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/租赁公司.png" />
                                <span class="menu-text">供 应 商</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-new-supplier">
                                    <a href="@Url.Action("New", "Supplier", new {area = "ErpManage"})">
                                        <span class="menu-text">新建供应商</span>
                                    </a>
                                </li>
                                <li id="menu-manage-supplier">
                                    <a href="@Url.Action("Index", "Supplier", new {area = "ErpManage"})">
                                        <span class="menu-text">维护供应商</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-bank-account-management">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/银行账户.png" />
                                <span class="menu-text">银行账户</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-view-accounts">
                                    <a href="@Url.Action("Info", "BankAccount", new { area = "MonManage"})">
                                        <span class="menu-text">查看账户</span>
                                    </a>
                                </li>
                                <li id="menu-new-account">
                                    <a href="@Url.Action("New", "BankAccount", new { area = "MonManage"})">
                                        <span class="menu-text">新建账户</span>
                                    </a>
                                </li>
                                <li id="menu-edit-accounts">
                                    <a href="@Url.Action("Index", "BankAccount", new { area = "MonManage"})">
                                        <span class="menu-text">维护账户</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-sysmten-data">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/系统数据.png" />
                                <span class="menu-text">系统数据</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-manage-dictionaries">
                                    <a href="@Url.Action("Dictionaries", "BasicData", new {area = ""})">
                                        <span class="menu-text">字典设置</span>
                                    </a>
                                </li>

                                <li id="menu-contract-level-config">
                                    <a href="@Url.Action("Index", "ContractLevelConfig", new {area = ""})">
                                        <span class="menu-text">合同分类规则</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-company-forms">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/公司表单.png" />
                                <span class="menu-text">公司表单</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="contract-type-management">
                                    <a href="@Url.Action("ContractTypeDetails", "BasicData", new {area = ""})">
                                        <span class="menu-text">合同类型</span>
                                    </a>
                                </li>
                                <li id="dispose-way-management">
                                    <a href="@Url.Action("DisposeWay", "BasicData", new {area = ""})">
                                        <span class="menu-text">处置方式</span>
                                    </a>
                                </li>
                                <li id="menu-manage-repayment-methods">
                                    <a href="@Url.Action("ManageRepayMethods", "Home", new {area = ""})">
                                        <span class="menu-text">还款方式</span>
                                    </a>
                                </li>
                                <li id="overdue-status-management">
                                    <a href="@Url.Action("OverdueStatus", "BasicData", new {area = ""})">
                                        <span class="menu-text">逾期状态</span>
                                    </a>
                                </li>
                                <li id="life-of-loan-management">
                                    <a href="@Url.Action("lifeOfLoan", "BasicData", new {area = ""})">
                                        <span class="menu-text">借款期限</span>
                                    </a>
                                </li>
                                <li id="menu-manage-related-party-type">
                                    <a href="@Url.Action("RelatedPartyTypeManagement", "Home", new {area = ""})">
                                        <span class="menu-text">关联方设置</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="Templates">
                            <a href="@Url.Action("Templates", "BasicData", new {area = ""})">
                                <img src="~/Images/系统设置/文档模版.png" />
                                <span class="menu-text">文档模板</span>
                            </a>
                        </li>
                        <li id="menu-workflow-settings">
                            <a href="javascript:void(0);" class="dropdown-toggle" onclick="$(this).next().slideToggle();">
                                <img src="~/Images/系统设置/流程配置.png" />
                                <span class="menu-text">流程配置</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="menu-workflow-type">
                                    <a href="@Url.Action("WorkflowType", "Workflow", new {area = "FlowManage"})">
                                        <span class="menu-text">流程类型</span>
                                    </a>
                                </li>
                                <li id="menu-workflow-management">
                                    <a href="@Url.Action("Index", "Workflow", new {area = "FlowManage"})">
                                        <span class="menu-text">流程配置</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="NewsTips">
                            <a href="@Url.Action("NewsTips", "BasicData", new {area = ""})">
                                <img src="~/Images/系统设置/消息.png" />
                                <span class="menu-text">消息管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <!--列表框容器-->
    <div class="modal fade" id="div-list-dialog-0">
        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="table-toolbar">
                    </div>
                    <div data-name="list" style="width: 100%; overflow-x: scroll;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--模态框容器-->
    <div class="modal fade" id="div-modal-dialog-0" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"></span>
                    </h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!--列表框容器-->
    <div class="modal fade" id="div-list-dialog-1">
        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="table-toolbar">
                    </div>
                    <div data-name="list" style="width: 100%; overflow-x: scroll;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--模态框容器-->
    <div class="modal fade" id="div-modal-dialog-1">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"></span>
                    </h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!--空框容器-->
    <div class="modal fade" id="div-empty-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>
